.contenedor-publicacion {
    max-width: 58%;
    -webkit-box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    margin: 15vh auto 0 auto;
    padding: 2rem;
    border-radius: 4px;
    font-family: sans-serif;
}

.contenedor_central__contenido {
    top: 0vh;
}

.contenedor-publicacion .campos textarea, .contenedor-publicacion .campos input {
    display: block;
    margin: 0.3rem auto 1.4rem auto;
    width: 100%;
    border: 1px solid #a8a8a8;
    outline: none;
    padding: 0.4rem 0;
    font-size: 0.9rem;
    text-indent: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

.contenedor-publicacion .campos-evento {
    text-align: center;
}

.contenedor-publicacion .campos label {
    font-weight: 700;
    color: #3f3d3d;
}

.contenedor-publicacion .campos textarea {
    height: 5rem;
    resize: none;
}

.contenedor-publicacion input[type="file"] {
    margin-left: 0;
    position: relative;
    top: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.contenedor-publicacion .publicar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-publicacion .publicar button {
    padding: 0.6rem 3.5rem;
    background-color: #235E3D;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    transition: background-color 1s, color 1s;
}

.contenedor-publicacion .publicar button:hover {
    background-color: #88D36E;
    color: black;
}

.error-mensaje {
    color: red;
    font-family: arial, sans-serif;
    font-weight: 600;
    font-size: 15px !important;
    margin-bottom: 1rem;
}

@media (max-width: 1040px) {
    .contenedor-publicacion {
        max-width: 75%;
    }
    .contenedor-publicacion .publicar {
        flex-direction: column;
    }
    .contenedor-publicacion .publicar button {
        margin-top: 25px;
    }
}