.contenedor-publicacion {
    max-width: 58%;
    -webkit-box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    margin: 8vh auto 0 auto;
    padding: 32px;
    border-radius: 4px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.contenedor_central__contenido {
    top: 0vh;
}

.campos textarea, .campos input {
    display: block;
    margin: 0 auto 25px auto;
    width: 100%;
    border: 1px solid #a8a8a8;
    outline: none;
    padding: 6px 0;
    font-size: 14px;
    text-indent: 8px;
    font-family: 'Roboto', sans-serif;
}

.campos textarea:focus, .campos input:focus {
    border: 1px solid #235E3D;
}

.campos-evento {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.campos-evento > * {
    width: 40%;
}

.campos-evento__texto {
    font-size: 14px;
    transition: all 0.5s;
    border-radius: 3px;
    margin-bottom: 15px;
    text-shadow: 0 5px 40px black;
}

.campos label {
    font-weight: 700;
    color: #3f3d3d;
    display: inline-block;
    margin-bottom: 7px;
}

.campos textarea {
    height: 50px;
    resize: none;
}

.publicar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.publicar button {
    padding: 10px 40px;
    background-color: #235E3D;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    transition: background-color 1s, color 1s;
}

.publicar button:hover {
    background-color: #88D36E;
    color: black;
}

.buscador {
    margin: 50px 0 -20px 0;
    display: none;
    justify-content: center;
}

.buscador__input {
    padding: 7px;
    outline: none;
    border: 1px solid rgba(179, 179, 179);
    width: 40%;
    transition: border .2s;
    font-family: 'Roboto', sans-serif;
}

.buscador__label {
    background-color: rgba(66, 66, 68, .8);
}

.buscador__icon {
    cursor: pointer;
    color: rgb(172, 171, 171);
    text-align: center;
    padding: 4px;
    transition: color .2s;
    position: relative;
    top: 2px;
}

.buscador__icon:hover {
    color: white;
}

.lista-eventos {
    margin: 32px 0;
}

.contenedor-evento {
    word-break: break-all;
}


.contenedor-evento__info {
    font-family: sans-serif;
    line-height: 1.5;
    padding: 10px;
    border: 1px solid rgb(223, 222, 222);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 40px auto 0 auto;
}

.contenedor-evento__titulo {
    font-size: 23px;
    border-bottom: 1px solid rgb(238, 237, 237);
}

.contenedor-evento__descripcion {
    font-size: 18px;
}

.contenedor-evento__mas-info > div, .contenedor-evento__info > div {
    margin-top: 10px;
}

.fecha-i, .lugar-i {
    color: #4e6d44;
}

.comienzo, .finalizacion {
    font-weight: bold;
}

.contenedor-evento__lugar, .lugar, .lugar > *,
.comienzo, .comienzo > *,
.finalizacion, .finalizacion > * {
    display: inline;
}

.contenedor-evento__opciones {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.contenedor-evento__opciones i {
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    transition: all .2s;
    margin-top: 10px;
}

.contenedor-evento__opciones i:hover {
    transform: rotate(20deg);
}

.contenedor-evento__opciones>i:not(:last-child) {
    margin-right: 10px;
    color: #DC1341;
}

.contenedor-evento__opciones>i:not(:first-child) {
    color: #3f3d3d;
}

@media (max-width: 900px) {
    .campos-evento {
        flex-direction: column;
    }
    .campos-evento > * {
        width: auto;
    }

    .contenedor-evento__info {
        width: 98%;
    }
}

@media (max-width: 1040px) {
    .contenedor-publicacion {
        max-width: 75%;
    }
    .publicar {
        flex-direction: column;
    }
}