.opciones__menu {
  width: 90%;
  margin-left: 10%;
  margin-top: 80px;
}

.opciones__menu li {
  list-style: none;
  margin-bottom: 15px;
}

.nombre {
  text-align: center;
  color: white;
  position: relative;
  top: 40px;
  font-size: 30px;
}

.nombre > span {
  margin-left: 10px;
}

.opciones__menu a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.opciones__menu a:hover {
  text-decoration: underline;
}

.salir {
  width: 100%;
  position: absolute;
  bottom: 10vh;
}

.publicar__formulario{
  width: 100%;
  height: 25vh;
}

.publicar__formulario textarea{
  display: block;
  width: 70%;
  height: 80%;
  margin: auto;
  font-size: 20px;
}

.formulario__inputs{
  width: 70%;
  height: 20%;
  margin: auto;
}

.formulario__inputs input[type="submit"]{
  float: right;
  width: 25%;
  height: 100%;
  font-size: 20px;
  background-color: #235E3D;
  color: beige;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
}

.formulario__inputs input[type="submit"]:hover{
  background-color: #318154;
  transition: all 0.5s;
}

.contenedor_central__publicaciones{
  width: 100%;
}

.publicacion{
  width: 100%;
  text-align: center;
  margin-top: 5vh;
  border-bottom: 1px solid #C6C6C6;
}

.contenedor_imagenes{
  width: 100%;
}

.contenedor_imagenes img{
  width: 60%;
  display: block;
  margin: auto;
  margin-bottom: 1vh;
}

.editar_publicacion{
  font-size: 30px;
  color: #2CB8DE;
  cursor: pointer;
}

.eliminar_publicacion{
  font-size: 30px;
  color: #DC1341;
  cursor: pointer;
}
