.contenedor-publicacion {
    max-width: 58%;
    -webkit-box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 22px -13px rgba(0, 0, 0, 0.75);
    margin: 15vh auto 0 auto;
    padding: 2rem;
    border-radius: 4px;
    font-family: sans-serif;
}

.contenedor_central__contenido {
    top: 0vh;
}

.contenedor-publicacion .campos textarea, .contenedor-publicacion .campos input {
    display: block;
    margin: 0.3rem auto 1.4rem auto;
    width: 100%;
    border: 1px solid #a8a8a8;
    outline: none;
    padding: 0.4rem 0;
    font-size: 0.9rem;
    text-indent: 0.5rem;
    font-family: 'Roboto', sans-serif;
}


.contenedor-publicacion .campos label {
    font-weight: 700;
    color: #3f3d3d;
}

.contenedor-publicacion .campos textarea {
    height: 5rem;
    resize: none;
}

.contenedor-publicacion input[type="file"] {
    margin-left: 0;
    position: relative;
    top: 0;
    font-size: 0.9rem;
    cursor: pointer;
}

.contenedor-publicacion .publicar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-publicacion .publicar button {
    padding: 0.6rem 3.5rem;
    background-color: #235E3D;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    transition: background-color 1s, color 1s;
}

.contenedor-publicacion .publicar button:hover {
    background-color: #88D36E;
    color: black;
}

.barra-avance {
    height: 30px;
    width: 100%;
    margin: 2rem auto 0 auto;
    max-width: 800px;
    background-color: #f2f2f2;
}

.porcentaje {
    height: 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    transition: width .5s linear;
}

.porcentaje p {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

.error-mensaje {
    color: red;
    font-family: arial, sans-serif;
    font-weight: 600;
    font-size: 15px !important;
    margin-bottom: 1rem;
}

.input-video {
    display: block;
    width: 50%;
    padding: 0.5rem;
    outline-color: #a8a8a8;
    border: 0.5px solid rgb(110, 109, 109);
    border-radius: 4px;
    font-size: 1rem;
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.renderizar-video {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.renderizar-video video {
    max-width: 80%;
}

.no-videos {
    margin-top: 4rem;
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
}

.buscador-videos {
    margin: 50px 0 -20px 0;
    display: none;
    justify-content: center;
}

.buscador-videos__input {
    padding: 7px;
    outline: none;
    border: 1px solid rgba(179, 179, 179);
    width: 40%;
    transition: border .2s;
    font-family: 'Roboto', sans-serif;
}

.buscador-videos__input:focus, .contenedor-publicacion .campos textarea:focus, .contenedor-publicacion .campos input:focus  {
    border: 1px solid #235E3D;
}

.buscador-videos__label {
    background-color: rgba(66, 66, 68, .8);
}

.buscador-videos__icon {
    cursor: pointer;
    color: rgb(172, 171, 171);
    text-align: center;
    padding: 4px;
    transition: color .2s;
    position: relative;
    top: 2px;
}


.buscador-videos__icon:hover {
    color: white;
}

.lista-videos {
    margin: 2rem 0;
}


.contenedor-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contenedor-video__info {
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    line-height: 1.5;
    font-family: sans-serif;
}

.contenedor-video__titulo, .contenedor-video__descripcion, .contenedor-video__fecha {
    margin-bottom: .8rem;
}

.contenedor-video__titulo {
    font-size: 23px;
}

.contenedor-video__descripcion {
    margin-left: auto;
    display: inline-block;
    width: 92%;
    text-align: left;
    margin-top: 10px;
}

.contenedor-video__fecha i {
    color: #3f3d3d;
    font-size: 1rem;
}

.contenedor-video__fecha {
    font-size: .8rem;
    text-align: center;
    margin-bottom: 10px;
}

.contenedor-video__video {
    max-width: 100%;
    max-height: 280px;
    border: 1px solid black;
}

.contenedor-video__opciones {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contenedor-video__opciones i {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    transition: all .2s;
}

.contenedor-video__opciones > i:not(:last-child) {
    margin-right: 10px;
    color: #DC1341;
}

.contenedor-video__opciones > i:not(:first-child) {
    color: #2CB8DE;
}

.contenedor-video__opciones i:hover {
    transform: rotate(20deg);
}

@media (max-width: 1400px)  {
    .contenedor-video {
        grid-template-columns: 100%;
        word-break: break-all;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1040px) {
    .contenedor-publicacion {
        max-width: 75%;
    }
    .contenedor-publicacion .publicar {
        flex-direction: column;
    }
    .contenedor-publicacion .publicar button {
        margin-top: 35px;
    }
}

@media (max-width: 768px)  {
    .contenedor-video {
        width: 95%;
    }
}